body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

p {
    text-align: center;
    font-size: 10vw;
    color: pink;
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}